@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.LevenshteinMerryGoRound {
    display: inline-flex;
    transition: width;
    font-family: 'Roboto Mono', monospace;
}

.char {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    transition: width 1s;

    .orig, .next {
        width: auto;
    }

    .orig {
        display: none;
    }
}

.space {
    visibility: hidden;
}

@keyframes widen {
    0% {
        height: 0em;
        opacity: 0;
    }
    100% {
        height: 1em;
        opacity: 1;
    }
}