.LevenshteinMerryGoRound {
    display: inline-flex;
    // font-family: 'Roboto Mono', monospace;
    padding: 0, 1em;
}

.Changer {
    height: 1em;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    transition: width;
    animation: widen 1s both;

    .space {
        visibility: hidden;
    }

    .from, .to {
        position: absolute;
        animation: appear 1s 1s both;
    }

    .from {
        animation-direction: reverse;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes widen {
    from {
        width: var(--from-width);
    }
    to {
        width: var(--to-width);
    }
}